:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
  
  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* Driver Standings Styling */
.driver-standings-container {
  margin: 2.3rem;
}

/* Podium styling */
.podium-container {
  display: flex;
  justify-content: center;

  /* Change afterwards - used to make visualisation easier */
  background-color: rgb(211, 211, 211);
}

.podium-driver-card {
  width: 22.75rem;
  padding: 1.5rem;
  margin: 1rem;
  text-align: center;

  /* Change afterwards - used to make visualisation easier */
  background-color: rgb(242, 242, 242);
  border: 2px solid black;
  margin-right: 1rem;
}

.podium-driver-card table.podium-card-stats {
  align-self: center;
  margin-inline: auto;
}

.podium-driver-card .podium-driver-img {
  max-width: 100%;
}